* {
  box-sizing: border-box;
}
body,
html {
  font-family: "Karla", sans-serif;
  margin: 0;
  padding: 0;
}

/* .App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
} */

.header {
  width: 100vw;
  margin: 0;
  background: linear-gradient(90deg, rgb(69, 141, 119), rgb(98, 192, 162));
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em 0.5em 1em;
  color: aliceblue;
  text-shadow: 0px 0px 4px rgb(69, 141, 119);
}

.header--title {
  flex: 1;
  text-align: left;
  padding-left: 1em;
  color: aliceblue;
  text-shadow: 0px 0px 4px rgb(69, 141, 119);
}

.header--img-container {
  padding: 0.5em;
  display: flex;
  width: 150px;
  height: auto;
}

.header--img {
  width: 100%;
  border-radius: 5px;
}

.form {
  padding: 3em 3em;
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 1em;
  width: 60%;
}

.form--input {
  font-family: inherit;
  padding: 0;
  font-size: 1rem;
  color: rgb(53, 53, 53);
  border-radius: 5px;
  border: 1px solid rgb(161, 161, 161);
  text-indent: 0.5em;
}
.form--button {
  grid-column: 1 /-1;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 300;
  color: rgb(53, 53, 53);
  background: linear-gradient(
    90deg,
    rgb(69, 141, 119) 1%,
    rgb(98, 192, 162) 100%
  );
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: aliceblue;
  font-weight: bold;
  letter-spacing: 1.5px;
  transition: all(0.8s);
}

button:hover {
  background: linear-gradient(
    90deg,
    rgb(40, 71, 62) 1%,
    rgb(69, 141, 119) 100%
  );
}
button:active {
  transform: scale(0.98);
}

.meme--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.meme--img-container {
  width: 400px;
}

.meme--img {
  width: 100%;
}
